<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utah.cs4962.paint" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".models.PaintApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controllers.PaintActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.PaletteActivity"
            android:label="@string/title_activity_paltte"
            android:parentActivityName=".controllers.PaintActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utah.cs4962.paint.PaintActivity" />
        </activity>
        <activity
            android:name=".controllers.WatchActivity"
            android:label="@string/title_activity_watch"
            android:parentActivityName=".controllers.PaintActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utah.cs4962.paint.PaintActivity" />
        </activity>
    </application>

</manifest>
